<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<div class="container">
		<div class="name">
			<h2 class="home_name">Hi <%= @user.first_name %>!</h2>
			<a class="btn-large waves-effect waves-light teal lighten-3" href="/stats/<%=@user.id %>/new">ADD A ROUND</a>
			<% if @count > 0 %>
				<a class="btn-large waves-effect waves-light teal lighten-3" href="/stats/<%=@user.id %>/show">View Stats</a>
			<% end %>
		</div>
		<!-- test purposes: posts list of users' first names -->
		<%# @all_users.each do |user| %>
			<!-- <p><%#= user.first_name %></p> -->
		<%#end%>
	</div>
	<br>
	<br>
</body>
</html>
