<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<div class="container">
		
		<div class="name">
			<h3>Please Login or Register Below</h3>
		</div>
		<br>
		<br>

		

		<h4>Login</h4> 
		<div class="flash"><%= flash[:errors_login] %></div>
		<form action="/sessions" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="input-field">
				<input id="email" type="text" name="email">
				<label for="email">Email</label>
			</div>
			<div class="input-field">
				<input id="password" type="password" name="password">
				<label for="password">Password</label>
			</div>
			<button class="btn waves-effect waves-light teal lighten-3" type="submit" name="submit" >Login
			</button>
		</form>
		<br>
		<br>
		<h4>Register</h4> 
		<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<div class="flash">
			<%= error %><br>
			</div>
		<% end %>
		<% end %>

		<form action="/users/new" class="new_user" id="new_user" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="input-field">
				<input id="first_name" type="text" name="user[first_name]">

				<label for="first_name" >First Name</label>
			</div>
			<div class="input-field">
				<input id="last_name" type="text" name="user[last_name]">
				<label for="last_name">Last Name</label>
			</div>
			<div class="input-field">
				<input id="email" type="text" name="user[email]">
				<label for="email">Email</label>
			</div>
			<div class="input-field">
				<input id="password" type="password" name="user[password]">
				<label for="password">Password</label>
			</div>
			<div class="input-field">
				<input id="password_confirmation" type="password" name="user[password_confirmation]">
				<label for="password_confirmation">Password Confirmation</label>
			</div>
			<button class="btn waves-effect waves-light teal lighten-3" type="submit" name="submit" >Register
			</button>
		</form>
	</div>
</body>
</html>